<!-- footer area start -->
<footer>
    <div class="footer-top  has-color pt--120 pb--30">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget widget-company">
                        <a href="#"><img src="assets/images/icon/logo-middle.png" alt="image" height="200"></a>
                        <div class="address">
                            <h6>Apprendre avec    GTO</h6>
                            <p>6 Rue du Moulin de la Halveque, 44300 Nantes.</p>
                        </div>
                        <div class="address">
                            <h6>Téléphone</h6>
                            <p>+33 2 34 56 78 90</p>
                        </div>
                        <div class="address">
                            <h6>Email</h6>
                            <p>contact&#64;gto.com</p>
                        </div>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget footer-link">
                        <h4 class="fwidget-title mb-5 pb-3 primary-color">Footer Menu</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Accueil</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Tuteurs</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Events</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="widget widget-opening">
                        <h4 class="fwidget-title mb-5 pb-3 primary-color">Jour et heure de travail</h4>
                        <p></p>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2019 <span><a class="primary-color" href="https://themeforest.net/user/pixelthemez/portfolio" target="_blank">Edification</a> </span> - All Rights Reserved. Made by <span><a class="primary-color" href="https://furioustheme.com/" target="_blank">Furioustheme</a></span></p>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
 