<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>La liste des </span> Tuteurs</h4>
        </div>
    </div>
</div>

<!-- crumbs area end -->
<!-- teacher area start -->
<div class="all-teachers  pt--120 pb--70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let user of users">
                <div class="card mb-5">
                    <img src="{{user.image}}" alt="image" style="height: 250px; width: 100%">
                    <div class="card-body teacher-content p-25">
                        <h4 class="card-title mb-1"><a href="#">{{user.last_name }} {{user.first_name }}</a></h4>
                        <span class="primary-color d-block mb-4">{{user.specialite }}</span>
                        <p class="card-text" style="font-size: 12px">{{user.description}}.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div><!-- card -->
            </div><!-- teacher single end -->
        </div>
    </div>
</div>
<!-- teacher area end -->